{% extends 'page_denis_vorko/wrapper.html' %}
{% block title %}
	Vorko-Home
{% endblock %}
{% load staticfiles %}
{% block content %}

<div class="container-fluid mt-4 col-md-6 offset-md-4">
      <h1>Работы автора</h1>
    </div>
<div class="container-fluid">
	<div class="row">

		{% for job in jobs %}

			<div class="card" style="width: 18rem;">
			  <img src="{{job.image}}" class="card-img-top" alt="img">
					  <div class="card-body">
					    <h5 class="card-title">{{job.title}}</h5>
					    <p class="card-text">{{job.manual}}<br>{{job.date_pub}}</p>
					    <a href="{% url 'index' %}" class="btn btn-primary">Подробнее &raquo</a>
					  </div>
			</div>
		{% endfor %}

	</div>
</div>	

{% endblock %}