{% extends 'page_denis_vorko/wrapper.html' %}


{% block content %}
<div class="container-fluid, zagolovok">
      <h1>Работы автора</h1>
    </div>
<div class="container-fluid">
	<div class="row">

		{% for cont in numbers %}
			<div class="card" style="width: 18rem;">
			  <img src="..." class="card-img-top" alt="img">
					  <div class="card-body">
					    <h5 class="card-title">Карточка № {{cont}}</h5>
					    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
					  </div>
			</div>
		{% endfor %}

	</div>
</div>	
<p>include content</p>

{% endblock %}