<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'page_denis_vorko/css/mystyle.css' %}" type="text/css">
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Vorko_site
        {% endblock %}
    </title>
</head>
<body>
    <nav class="nav navbar-dark bg-primary">
        <div class="navbar-brand">Denis@Vorko<sup>tm</sup></div>
       
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="#"><img class="icon" src="{% static 'page_denis_vorko/img/facebook1.png' %}" alt="Facebook"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" ><img class="icon" src="{% static 'page_denis_vorko/img/instagram1.jpeg' %}" alt="Instagram"></a>
      </li>
    </ul>
       
    </nav>


    {% block content %}
    {% endblock %}

</body>
</html>